<% include ../header %>

<!--form begain-->
<div style="width: 900px; margin: 30px auto">
    <div class="ui blue  piled segment">
        <h4 class="ui left floated header">
            <a href="/user/<%=ruby.createdBy.id%>"><%=ruby.createdBy.name%></a>
            的宝石
        </h4>
        <%if(-1 != user.likes.indexOf(ruby.id)) {%>
        <a href="/ruby/unlike/<%=ruby.id %>" class="small ui right floated teal  header label ">
            取消收藏
        </a>
        <% } else { %>
        <a href="/ruby/dolike/<%=ruby.id %>" class="small ui right floated teal  header label ">
            收藏
        </a>
        <% } %>
        <div class="ui clearing divider"></div>

        <% if(message.success) {%>
        <div class="ui green message">
            <p><%=message.success%></p>
        </div>
        <% } %>
        <% if(message.danger) {%>
        <div class="ui error message">
            <p><%=message.danger%></p>
        </div>
        <% } %>


        <div class="ui medium image">
            <img src="/gfsimgs/<%=ruby.thumbnailId%>">
        </div>
        <div class="description">
            <div class="ui comments">
                <h3 class="ui dividing header">Comments</h3>
                <div class="comment">
                    <a class="avatar">
                        <img src="/imgs/b.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">
                            How artistic!
                        </div>

                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="/imgs/b.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Elliot Fu</a>
                        <div class="metadata">
                            <span class="date">Yesterday at 12:30AM</span>
                        </div>
                        <div class="text">
                            <p>This has been very useful for my research. Thanks as well!</p>
                        </div>

                    </div>
                    <div class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="/imgs/b.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Jenny Hess</a>
                                <div class="metadata">
                                    <span class="date">Just now</span>
                                </div>
                                <div class="text">
                                    Elliot you are always so right :)
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="/imgs/b.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Joe Henderson</a>
                        <div class="metadata">
                            <span class="date">5 days ago</span>
                        </div>
                        <div class="text">
                            Dude, this is awesome. Thanks so much
                        </div>

                    </div>
                </div>

                <div class="ui padded pagination menu">
                    <a class="item">
                        <i class="left arrow icon"></i> Previous
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="item">5</a>
                    <a class="item">6</a>
                    <a class="item">
                        Next <i class="icon right arrow"></i>
                    </a>
                </div>
                <form class="ui reply form">
                    <div class="field">
                        <textarea></textarea>
                    </div>
                </form>
            </div>
        </div>



    </div>
    <!--a category end-->






</div>
<!--form end-->

<% include ../footer %>