<% include ../header %>



<div style="margin: 30px 20px">
    <%
        var i = 0;
    categorys.forEach( function(category) {

    %>
    <div class="ui blue  piled segment">
        <h4 class="ui left floated header">
            <a href="/bbs/category/<%= category.id %>">
                <%= category.name %>
            </a>
        </h4>
        <a href="/bbs/new-post/category/<%= category.id %>" class="small ui right floated teal  header label ">
            发帖
        </a>
        <div class="ui clearing divider"></div>

        <table class="ui red table">
            <thead>
            <tr>
                <th class="eight wide">标题</th>
                <th class="four wide">日期</th>
                <th class="two wide">作者</th>

            </tr>
            </thead>
            <tbody>
            <% posts[i].forEach(function(post) {%>

            <tr>
                <td><a href="/bbs/post/<%=post.id%>"><%=post.title%></a></td>
                <td><%=: post.createdOn | dateFormat %></td>
                <td><a href="users/<%=post.createdBy.id%>"><%=post.createdBy.name%></a></td>


            </tr>
            <% }) %>

            </tbody>
        </table>

    </div>
    <!--a category end-->
    <% i++; }) %>





</div>
<% include ../footer %>