<% include ../header %>


<div style="width: 900px; margin: 30px auto">
    <div class="ui blue  piled segment">
        <h4 class="ui left floated header">
            <a href="/bbs/category/<%= category.id %>">
                <%= category.name %>
            </a>
        </h4>
        <a href="/bbs/new-post/category/<%= category.id %>" class="small ui right floated teal  header label ">
            发帖
        </a>
        <div class="ui clearing divider"></div>

        <table class="ui red   table">
            <thead>
            <tr>
                <th class="eight wide">标题</th>
                <th class="four wide">日期</th>
                <th class="two wide">作者</th>
            </tr>
            </thead>
            <tbody>
            <% posts.forEach( function(post) { %>
            <tr>
                <td><a href="/bbs/post/<%=post.id%>"><%=post.title%></a></td>
                <td><%=: post.createdOn | dateFormat %></td>
                <td><%=post.createdBy.name%></td>

            </tr>
            <% }) %>

            </tbody>
        </table>

        <div class="ui pagination menu">
            <a class="icon item">
                <i class="left arrow icon"></i>
            </a>
            <a class="active item">
                1
            </a>
            <div class="disabled item">
                ...
            </div>
            <a class="item">
                10
            </a>
            <a class="item">
                11
            </a>
            <a class="item">
                12
            </a>
            <a class="icon item">
                <i class="right arrow icon"></i>
            </a>
        </div>



    </div>
    <!--a category end-->






</div>
<% include ../footer %>