<% include ../header %>


<!--socket io-->
<script src="/socket.io/socket.io.js"></script>
<script src="/socket.io-stream.js"></script>


<script src="/javascripts/util_image.js"></script>
<div style="width: 900px; margin: 30px auto">
    <div class="ui blue  piled segment">
        <h4 class="ui left floated header">
            <a href="/bbs/category/<%= category.id %>">
                <%= category.name %>
            </a>
        </h4>
        <a href="/bbs/new-post/category/<%= category.id %>" class="small ui right floated teal  header label ">
            发帖
        </a>
        <div class="ui clearing divider"></div>

        <div class="ui error form segment">
            <input id="category_id" type="hidden" value="<%= category.id %>">
            <input id="user_id" type="hidden" value="<%= user.id %>">
            <!--<div class="ui error message">-->
                <!--<div class="header">Action Forbidden</div>-->
                <!--<p>You can only sign up for an account once with a given e-mail address.</p>-->
            <!--</div>-->

            <div class="two fields">
                <div class="field">
                    <div id="img-add" class="ui tiny teal button">添加图片</div>
                    <input style="display: none" type="file" id="files" name="uploads" multiple="multiple"  /><br>
                </div>
                <div class=" inline field">
                    <div id="img_box" class="ui tiny images">

                    </div>
                </div>
            </div>
            <div class="field">
                <label>文章标题</label>
                <input id="input_title" name="title" placeholder="文章标题" type="text">
            </div>

            <div class="field">
                <label>文章内容</label>
                <textarea id="input_content" class="ckeditor" name="content"></textarea>
            </div>

            <div id="bar1" class="ui small blue progress" style="display: none">
                <div  class="bar"></div>
            </div>
            <div id="bar2" class="ui small black progress" style="display: none">
                <div class="bar"></div>
            </div>
            <div id="bar3" class="ui small green progress" style="display: none">
                <div class="bar" ></div>
            </div>
            <div id="bar4" class="ui small red progress" style="display: none">
                <div class="bar"></div>
            </div>

            <button id="post" class="ui blue submit button">发帖</button>
        </div>



    </div>
    <!--a category end-->






</div>
<% include ../footer %>